/* roboto styles from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #333;
    color: #222;
    /* only hides the scroll bar on the X axis */
    overflow-x: hidden;
    margin: 0;
}

.container {
    background-color: #fafafa;
    /* changes the rotate origin from the center of the screen to the top left */
    transform-origin: top left;
    transition: transform 0.5s linear;
    /* 100vw takes up the whole viewport horizonatally */
    width: 100vw;
    /* takes up the whole viewport height */
    min-height: 100vh;
    padding: 50px;
}

/* manipulate the "container show-nav" class */
.container.show-nav {
    transform: rotate(-20deg);
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

/* wraps around the icons */
.circle {
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    /* half of the circle is off the screen */
    /* border-radius makes it a circle */
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.container.show-nav .circle {
    transform: rotate(-70deg);
}

/* button within the circle */
.circle button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: white;
}

/* manipulates the circle button */
.circle button:focus {
    outline: none;
}

/* circle button with an ID (#) of open */
.circle button#open {
    left: 60%;
}

/* circle button with an ID of close */
.circle button#close {
    top: 60%;
    /* rotate 90 degrees */
    transform: rotate(90deg);
    transform-origin: top left;
}

.container.show-nav + nav li {
    /* bring to original position */
    transform: translateX(0);
    transition-delay: 0.3s;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding-left: 30px;
}

nav ul li {
    /* make text all uppercase */
    text-transform: uppercase;
    color: white;
    margin: 40px 0;
    /* - moves left on the X axis */
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

/* change the nav bar images to be bigger and have more margin */
nav ul li i {
    font-size: 20px;
    margin-right: 10px;
}

/* About */
nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
}

/* Contact */
nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
}

nav a {
    color: #fafafa;
    text-decoration: none;
    transition: all 0.5s;
}

nav a:hover {
    color: #ff7979;
    font-weight: bold;
}

.content img {
    max-width: 100%;
}

.content {
    /* stay in the middle of the page */
    max-width: 1000px;
    margin: 50px auto;
}

/* title */
.content h1 {
    margin: 0;
}

/* subtitle*/
.content small {
    color: #555;
    font-style: italic;
}

/* text throughout */
.content p {
    color: #333;
    line-height: 1.5;
}

