/* roboto styles from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height 100 view height, takes up 100% of the screen (viewport) */
    height: 100vh;
    /* doesn't show scroll bars by default */
    overflow: hidden;
    margin: 0;
}

button {
    background-color: purple;
    color: white;
    border: 1px purple solid;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 30px;
    overflow: hidden;
    margin: 10px 0;
    /* makes the .circle relative to the button */
    position: relative;
    cursor: pointer;
}

button:focus {
    outline: none;
    background: rgb(160, 6, 255);
    text-decoration: underline;
}

button .circle {
    position: absolute;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* start not present ((scale(0)) */
    transform: translate(-50%, -50%) scale(0);
    /* add circle with the animation */
    animation: scale .5s ease-out;
}

/* animation */
@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        /* fade out effect */
        opacity: 0;
    }
}